@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

body {
  font-family: Montserrat;
  background: #141414;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
  width: 700px;
}
ul {
  margin-top: 60px;
  list-style: none;
  text-align: left;
}

li {
  margin-top: 25px;
}
